.Recipe {
  margin: 5px 5px;
  padding: 0;
  list-style: none;
  display: inline-block;
  filter: drop-shadow(0 3px 5px #333);
  font-family: 'Rubik', sans-serif;
  text-transform: capitalize;
  width: 300px;
  height: 200px;
  margin: 2% auto;
  background-color: RGBA(80, 143, 162, 1.00);
  border-radius: 5px;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}
.Title {
  font-size: 25px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  width: 100%;
  margin: 0;
  padding: 5px;
  background-color: RGBA(40, 70, 75, 1.00);
  color: RGBA(205, 180, 80, 1.00);
}
.Description {
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  font-size: 15px;
}
.Input{
  color: RGBA(205, 180, 80, 1.00);
  text-align: right;
  margin: 5px 0;
  display: inline-block;
}
.Recipe:hover {
  background: RGBA(120, 183, 202, 1.00);
}
