.Recipe {
  margin: 5px 5px;
  padding: 0;
  list-style: none;
  display: inline-block;
  overflow: scroll;
  filter: drop-shadow(0 3px 5px RGBA(15, 16, 17, 1.00));
  font-family: 'Rubik', sans-serif;
  text-transform: capitalize;
  width: 300px;
  height: 200px;
  margin: 2% auto;
  background-color: RGBA(80, 143, 162, 1.00);
  border-radius: 5px;
  -webkit-transition: filter 1s;
  transition: filter 1s;
}
.Title {
  font-size: 30px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  width: 100%;
  margin: 0;
  padding: 20px 2px;
  background-color: RGBA(40, 70, 75, 1.00);
  color: RGBA(146, 211, 237, 1.00);
}
.Description {
  color: RGBA(40, 70, 75, 1.00);
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  font-size: 15px;
}
.Input{
  color: RGBA(146, 211, 237, 1.00);
  text-align: right;
  margin: 5px 0;
  display: inline-block;
}
.Recipe:hover {
  filter: drop-shadow(0 10px 15px RGBA(146, 211, 237, .5));
}
