.Button {
  cursor: pointer;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  border: solid 1px  RGBA(146, 211, 237, 1.00);
  background-color: RGBA(80, 143, 162, .7);
  border-radius: 8px;
  color: RGBA(146, 211, 237, 1.00);
  display: inline-block;
  font-size: 20px;
  width: 180px;
  box-sizing: border-box;
  padding: 20px;
  margin: 1em;
  -webkit-transition: border 2s, background-color 2s, color 2s;
}

.Button:hover{
  color: RGBA(40, 70, 75, 1.00);
  background-color: RGBA(146, 211, 237, 1.00);
}
@media (max-width: 756px) {
  .Button {
    width: 90px;
    padding: 10px;
    margin: 5px;
  }
}
