.CheckBox {
  width: 90%
}
.Input {
  vertical-align: middle;
  display: inline-block;
  width: 90%;
  height: 40px;
  border: solid 1px #92D3ED;
  border-radius: 5px;
  background: #508FA2;
  color: #28464B;
  filter: drop-shadow(0 3px 5px RGBA(15, 16, 17, .5));
  padding: 6px 0 0 10px;
  font-size: 20px;
}
.Box {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  border: solid 1px #92D3ED;
  background: #508FA2;
  font-size: 40px;
  color: #28464B;
}

@media (max-width: 556px) {
  .Input {
    width: 80%;
  }
}
