.Input {
  width: 100%;
  display: block;
  border: none;
  background: transparent;
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #92D3ED;
  border-bottom: 1px solid #92D3ED;
}
.Input:focus{
  outline: none;
}

.TextArea{
  width: 100%;
  height: 160px;
  display: block;
  background: transparent;
  font-size: 14px;
  color: #92D3ED;
  border: 1px solid #92D3ED;
  border-radius: 5px;
}
.TextArea:focus{
  outline: none;
}

.Select {
  width: 100%;
  font-size: 20px;
  display: block;
  border: none;
  margin: 10px 0;
  background: RGBA(80, 143, 162, 1.00);
  color: RGBA(40, 70, 75, 1.00);
  text-align-last:center;
}
.Select:focus{
  outline: none;
}

@media (max-width: 756px) {
  .TextArea {
    height: 100px;
  }
}
