@keyframes message {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes message {
  from {opacity: 0;}
  to {opacity: 1;}
}
.First {
  color: RGBA(40, 70, 75, 1.00);
  text-align: center;
  font-size: 100px;
  font-family: 'Poiret One', cursive;
  background-color: RGBA(146, 211, 237, .3);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: message;
  -webkit-animation-duration: 3s;
}
.Second {
  color: RGBA(40, 70, 75, 1.00);
  text-align: center;
  font-size: 100px;
  font-family: 'Poiret One', cursive;
    background-color: RGBA(146, 211, 237, .3);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: message;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}
.Third {
  color: RGBA(40, 70, 75, 1.00);
  text-align: center;
  font-size: 100px;
  font-family: 'Poiret One', cursive;
    background-color: RGBA(146, 211, 237, .3);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: message;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}
.FirstMobile {
  color: RGBA(40, 70, 75, 1.00);
  display: none;
  text-align: center;
  font-size: 50px;
  font-family: 'Poiret One', cursive;
  background-color: RGBA(146, 211, 237, .3);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: message;
  -webkit-animation-duration: 3s;
}
.SecondMobile {
  color: RGBA(40, 70, 75, 1.00);
  display: none;
  text-align: center;
  font-size: 50px;
  font-family: 'Poiret One', cursive;
    background-color: RGBA(146, 211, 237, .3);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: message;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}
.ThirdMobile {
  color: RGBA(40, 70, 75, 1.00);
  display: none;
  text-align: center;
  font-size: 50px;
  font-family: 'Poiret One', cursive;
    background-color: RGBA(146, 211, 237, .3);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: message;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}
.FourthMobile {
  color: RGBA(40, 70, 75, 1.00);
  display: none;
  text-align: center;
  font-size: 50px;
  font-family: 'Poiret One', cursive;
    background-color: RGBA(146, 211, 237, .3);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: message;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 3s;
}
.Links {
  color: #5ADDFC;
  display: inline-block;
  border: solid 1px #5ADDFC;
  border-radius: 5px;
}
@media (max-width: 730px) {
  .First{
    opacity: 1;
    font-size: 70px;
    -webkit-animation-name: none;
  }
  .Second{
    opacity: 1;
    font-size: 70px;
    -webkit-animation-name: none;
  }
  .Third{
    opacity: 1;
    font-size: 70px;
    -webkit-animation-name: none;
  }
}
@media (max-width: 515px) {
  .First{
    display: none;
  }
  .Second{
    display: none;
  }
  .Third{
    display: none;
  }
  .FirstMobile{
    display: block;
  }
  .SecondMobile{
    display: block;
  }
  .ThirdMobile{
    display: block;
  }
  .FourthMobile{
    display: block;
  }
}
