.Main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right,RGBA(246, 246, 246, 1.00),RGBA(191, 189, 191, 1.00));
}
.Menu {
  color:RGBA(40, 70, 75, 1.00);
  display: block;
  padding: 10px 10px;
}
.Link{
  font-size: 13px;
  padding: 0 40px;
  margin: auto 10px;
  color: RGBA(80, 143, 162, 1.00);
  font-family: 'Rubik', sans-serif;
  display: inline-block;
}
.Link:hover{
  cursor: pointer;
  color: RGBA(146, 211, 237, 1.00);
}
.List {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 425px) {
  .List {
    background: linear-gradient(to bottom right,RGBA(246, 246, 246, 1.00),RGBA(191, 189, 191, 1.00));
  }
}
@media (max-width: 390px) {
  .Link {
    padding: 0 20px;
  }
}
